<% email = @user.present? ? @user.email : 'Stranger' %>
<% id = @user.present? ? @user.id : 'Stranger' %>

<p>
  <h1> <%= @greeting %> </h1>
<h3> current user email :   <%= email %></h3>
<%  if @user   %>
<h1> cognito account status  :  <%= @accountStatus %> </h1>


<% end %>
<h3> current user ID  :   <%= id %></h3>

</p>