<% name = @user.present? ? @user.email : 'Stranger' %>
<p>
  <h1> <%= @greeting %> </h1>
<h1> <%=@clientId %> </h1>

<h3> current user email :   <%= name %></h3>

<h3> current user ID  :   <%= @user.id %></h3>
</p>